body {
	background: #210b0b;
	margin: 0 20px;
	padding: 0;
	font-family: "Roboto", serif;
	color: white;
	font-size: 18px;
	padding-bottom: 200px;
}

p {
	line-height: 1.7em;
}

h2 {
	margin-top: 50px;
}

li {
	line-height: 1.7em;
}

#content {
	width: 700px;
	padding-top: 40px;
	margin: 0 auto;
}

a {
	color: #ffd100;
}

.your-game-here {
	width: calc(100% - 220px);
	border: 2px dashed #ffd100;
	border-radius: 10px;
	padding: 100px 50px;
	margin: 50px 50px;
	text-align: center;
}

.your-game-here .header {
	font-style: italic;
	font-weight: bold;
	font-size: 24px;
}

#logo {
	width: 350px;
}

@media screen and (max-width: 750px) {
	body {
		margin: 0 5px;
		padding: 0;
	}
	
	#content {
		padding: 5px;
		width: calc(100% - 10px);
	}

	#logo {
		width: 100%;
	}


	.your-game-here {
		width: calc(100% - 40px);
		margin: 0;
		padding: 10px 20px;
	}
}